.your-library {
  @apply h-full bg-zinc-800 fill-zinc-400 text-zinc-400 p-4 flex flex-col;
}
.collapsed {
  composes: your-library;
  @apply max-w-fit;
}
.expanded {
  composes: your-library;
  @apply min-w-fit max-w-xs;
}
.enlarged {
  composes: your-library;
  @apply min-w-fit max-w-lg;
}
.header {
  @apply flex pb-4 font-bold text-lg;
}
.header_small {
  composes: header;
  @apply items-center justify-center;
}
.list {
  @apply overflow-y-scroll;
}
.collapse_btn {
  @apply grow text-left px-3;
}
